<div class="header-container container">
  <header>
    <a href="{{ site.url }}" class="top-link">{{ site.name }}</a>
      <ul class="nav">
        <!--Change the  URL here if working on an absolute domain-->
        <li style="margin-right: 12px;"><a href="{{ site.url }}/about">About</a></li>
        <li style="margin-right: 12px;"><a href="https://www.orthodoxschool.org">NOUS</a></li>
          <li style="margin-right: 12px;"><a href="https://drbuhler.github.io/numinor/">Numinor</a></li>
      </ul>
  </header>
</div>
<br> 
<br> 
