<meta charset="utf-8">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<!-- Title, description, canonical, Open Graph, Twitter card, JSON-LD -->
{% seo %}
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/assets/icons/favicon-32x32.png" type="image/png" sizes="32x32">
<link rel="icon" href="/assets/icons/favicon-16x16.png" type="image/png" sizes="16x16">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- Webmaster Tools verfication -->
{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% if site.owner.google_plus %}<link rel="author" href="{{ site.owner.google_plus }}?rel=author">{% endif %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% if site.rtl %}
<link rel="stylesheet" href="{{ '/dist/css/main.min.rtl.css' | relative_url }}" type="text/css" />
<style>
    .highlight pre {
        direction: ltr;
    }
</style>
{% else %}
<link rel="stylesheet" href="{{ '/dist/css/main.min.css' | relative_url }}" type="text/css" />
{% endif %}
<link rel="stylesheet" href="{{ '/css/legacy.css' | relative_url }}" type="text/css" />
