<div class="header-container container">
  <header>
    <a href="{{ site.url }}" class="top-link">{{ site.name }}</a>
      <ul class="nav">
        <!--Change the  URL here if working on an absolute domain-->
        <li style="margin-right: 12px;"><a href="{{ site.url }}">Home</a></li>
        <li style="margin-right: 12px;"><a href="{{ site.url }}/about">About</a></li>
        <li style="margin-right: 12px;"><a href="https://www.orthodoxschool.org">Education</a></li>
          <li style="margin-right: 12px;"><a href="http://498orca.com" target="_blank">Investing</a></li>
      </ul>
  </header>
</div>
